node_modules

//Treinador: Red
Pokémon:
- Pikachu
- Charizard
- Blastoise
- Venussaur
- Snorlax
- Lapras

Treinador: Cynthia
Pokémon:
- Garchomp
- Milotic
- Lucario
- Roserade
- Spiritomb
- Gastodron

Treinador: Leon
Pokémon:
- Charizard
- Rhyperio
- Seismitoad
- Haxorus
- Aegislash
- Rillaboom


Treinador: Ash
Pokémon:
- Pikachu
- Dragonite
- Gengar
- Sirfetvh'd
- Lucario
- Dracovish


Treinador: Lance
Pokémon:
- Salamance
- Dragonite
- Kingdra
- Hydreigon
- Hxorus
- Flygon
//