<!DOCTYPE html>
<html>
<head>
  <title>Pokémon App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/pokemons">Pokémons</a>
    <a href="/tipos">Tipos</a>
    <a href="/treinadores">Treinadores</a>
  </nav>

  <h1>Bem-vindo ao sistema Pokémon!</h1>
</body>
</html>
