<!DOCTYPE html>
<html>
<head>
  <title>Pokémon App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include("partials/navbar") %>
  <h1>Bem-vindo ao sistema Pokémon!</h1>
</body>
</html>