<!DOCTYPE html>
<html>
<head>
  <title>Lista de Pokémons</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include("partials/navbar") %>
  <h2>Catálogo de Pokémons</h2>
  <table border="1">
    <tr>
      <th>Imagem</th>
      <th>Nome</th>
      <th>Tipo</th>
    </tr>
    <% pokemons.forEach(pokemon => { %>
      <tr>
        <td><img src="<%= pokemon.imagem %>" width="80"></td>
        <td><%= pokemon.nome %></td>
        <td><%= pokemon.tipo %></td>
      </tr>
    <% }) %>
  </table>
</body>
</html>