<!DOCTYPE html>
<html>
<head>
  <title>Pokémons por Tipo</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/pokemons">Pokémons</a> |
    <a href="/tipos">Tipos</a> |
    <a href="/treinadores">Treinadores</a>
  </nav>

  <h2>Treinadores</h2>
    <% treinadores.forEach(t => { %>
        <h3><%= t.nome %></h3>
        <ul>
        <% t.pokemons.forEach(p => { %>
            <li><%= p %></li>
        <% }) %>
        </ul>
</body>
</html>
