<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introdução ao Node.js e Express.js</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Bem-vindo a Homepage</h1>
    <hr>
    <h1> É O MEU PEIXÃO! </h1>
    <img src="/imgs/img1.png" alt="Imagem do Peixão">
</body>
<script src="/js/script.js"></script>
</html>